

# local env files
venv
target
build
dist
*.local.*
*.spec
resources/**/*.py
!resources/**/ui2py.py

# Log files
__pycache__

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
